:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.navbar {
  border-bottom: #316bb0 3px solid;
}

.homesection {
  margin-top: 450px;
}

#header {
  background: url("./images/look4work.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#funfacts {
  display: flex;
  justify-content: center;
}
.allfacts {
  background: #f4f4f4;
}

.main-allfacts {
  margin: 100px;
  background: #316bb0;
}

.main {
  background-color: #f4f4f4;
}

#main {
  background-color: #316bb0;
  background-repeat: repeat;
  padding: 60px;
  height: 100vh;
}

.form-control {
  display: block;
  width: 100%;
}

.btn {
  display: inline-flex;
  margin-bottom: 15px;
}
.header {
  background: #316bb0;
}
.subtitle {
  color: #316bb0;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 75px;
}

.maintitle {
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  display: flex;
  margin-left: 15px;
}

.form-control {
  display: inline-flex;
  width: 25vw;
}

.featured {
  background: #f2d29f;
}

.filter-container {
  display: flex;
}

.search {
  display: flex;
}

.search-container {
  width: 90vw;
}

.searchbar {
  margin-left: 30px;
}

.employmentsection {
  display: flex;
  justify-content: center;
}

.job-container {
  width: 70vw;
}

/* SignUp */
.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: royalblue;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

/* Login */
.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
/* Registration Forms */
.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
  font-family: Raleway, sans-serif;
}

.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row {
  margin-left: 0;
  margin-right: 0;
}

.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-form .row {
  margin-left: 0;
  margin-right: 0;
}
